{% extends "base.html" %}
{% from "show_links.html" import show_links %}
{% block title %}Frage{% endblock %}

{% block nav %}
{{ show_links(user) }}
{% endblock %}

{% block body %}

    <div class="container theme-showcase" role="main">

      <div class="jumbotron">
        <h1>{{ question['question_text'] }}</h1>
        <p>{{ question['answer_text'] }}</p>
        <p><a class="btn btn-primary btn-lg">Gefragt von: {{ question['asker_name'] }}</a></p>
        <p><a class="btn btn-primary btn-lg">Beantwortete von: {{ question['expert_name'] }}</a></p>
      </div>
    </div>
{% endblock %}
